html
  head
    title
  body
  	form(id="login",method="POST",actions="/admin")
	    | Username: 
	    input(type='text', required='')
	    br
	    | 	Password: 
	    input(type='password', required='')
	    br
	    button(type='submit')  Submit 