body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body { font-family: tahoma; }
#loginForm {
    display: none;
    background: #ccc;
    width: 250px;
    height: 200px;
    padding: 20px;
    color: #333;
}